#board {
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(14, 50px);
  grid-template-columns: repeat(10, 50px);
}

li {
  display: block;
}

.white {
  background-color: #ffffff;
}

.black {
  background-color: #000000;
}

.blue {
  background-color: #648fff;
}

.violet {
  background-color: #785ef0;
}

.magenta {
  background-color: #dc267f;
}

.orange {
  background-color: #fe6100;
}

.yellow {
  background-color: #ffb000;
}
