:root {
	--size: 0;
	--row-count: 0;
	--column-count: 0;
}

ol, li {
  margin: 0;
  padding: 0;
}

@page {
  size: A4;
}

.page {
  break-before: page;
}

#features {
  display: grid;
  gap: var(--size);
  grid-template-rows: repeat(4, calc(var(--size) * 2 + 2px));
  grid-template-columns: repeat(3, calc(var(--size) * 2 + 2px));
  break-inside: avoid-page;
}

#board {
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(var(--row-count), var(--size));
  grid-template-columns: repeat(var(--column-count), var(--size));
}

.feature {
  display: grid;
  gap: 2px;
  grid-template-rows: repeat(2, var(--size));
  grid-template-columns: repeat(2, var(--size));
}

li {
  display: block;
}

.white {
  background-color: #ffffff;
}

.black {
  background-color: #000000;
}

.blue {
  background-color: #648fff;
}

.violet {
  background-color: #785ef0;
}

.magenta {
  background-color: #dc267f;
}

.orange {
  background-color: #fe6100;
}

.yellow {
  background-color: #ffb000;
}
